Data Science Tools and Ecosystem

In [ ]:
###In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
###Some of the popular languages that Data Scientists use are:
python、R、java

In [ ]:
###Some of the popular languages that Data Scientists use are:
python、R、java

In [ ]:
###Data Science Tools
pycharm
Anaconda
Jupyter

In [1]:
###This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
###This will convert 200 minutes to hours by diving by 60
a=200
b=60
Hour=a/b
print(Hour)

3.3333333333333335

In [ ]:
###Some of the popular languages that Data Scientists use are:
python、R、java

In [ ]:
Objectives:
>>>numpy
>>>scipy
>>>Tenflow

In [ ]:
###Author in H2 style heading
Author="Ming Li"